// Datepicker styles
.rezervace
	background: #212121 
	position: relative
	padding: 45px 100px 
	padding-top: 110px 
	padding-bottom: 80px 
	h2
		font-size: 36px 
		font-weight: 100
		text-transform: uppercase
		letter-spacing: 3px 
		text-align: center
		color: #fff 
		margin-bottom: 10px 
	.back
		position: absolute
		right: 100px 
		top: 125px 
.years
	text-align: center
	font-size: 13px 
	color: #fff 
	text-transform: uppercase
	margin-bottom: 28px 
	a
		color: #888 
		margin: 0 5px
		letter-spacing: 2px  
		text-decoration: none
		&.is-active,&:hover
			color: #fff 
.monthes
	height: 25px 
	ul
		+justify
	li
		display: inline-block
		a
			font-size: 13px 
			color: #888 
			text-transform: uppercase
			text-decoration: none
			letter-spacing: 2px 
			&:hover,&.is-active
				color: #fff 
.booklist
	font-size: 0 
	display: none
.book
	display: inline-block
	width: 16.6%
	height: 87px  
	padding: 12px 0 0 16px 
	background: #fff 
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2)
	&.is-pre
		background: #e6e6e6 
	&.is-booked
		background: #eeca39 
	&__num
		font-size: 12px 
		text-transform: uppercase
		color: #8c8c8c 
		letter-spacing: 2px 
		margin-bottom: 10px 
	&__text
		font-size: 14px 
		color: #171717 
		text-transform: uppercase
		letter-spacing: 1px 