.top
	height: 100vh
	width: 100%
	position: relative
	overflow: hidden
	+r(600)
		// height: 300px
	.top__inner
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
	.top__slide
		width: 100%
		height: 100vh
		position: relative
		+r(600)
			// height: 300px
	.top__video
		width: 100%
		position: absolute
		bottom: 75px
		bottom: 0
		left: 0
		right: 0
		top: 0
		background-size: cover !important
		+rm(800)
			background-image: none !important
		video
			position: absolute
			left: 0
			top: 0
			min-width: 100%
			// min-height: 100%
			width: 100%
			// height: 100%
			+r(800)
				display: none
			object-fit: contain
.header-placeholder
	background: #212121
	height: 75px
	+r(790)
		display: none
.player
	position: absolute
	left: 50%
	top: 10px
	width: 200px
	margin-left: -100px
	text-align: center
	transition: all .2s linear
	+r(1040)
		margin-left: 0
		right: 20px
		left: auto
	+r(790)
		display: none
	.player__next,.player__prev
		color: #b1b1b1
		font-size: 20px
		cursor: pointer
		@extend %icon
		display: inline-block
		vertical-align: middle
		&:hover
			color: #fff
	.player__next
		@extend .icon-next
	.player__prev
		@extend .icon-prev
	.player__play
		display: inline-block
		+s(play)
		cursor: pointer
		vertical-align: middle
		margin: 0 38px
		opacity: .7
		&:hover
			opacity: 1
		&.is-paused
			+s(pause)
.header
	position: absolute
	bottom: 0
	height: 75px
	overflow: hidden
	background: rgba(#000,.75)
	width: 100%
	left: 0
	z-index: 200
	transition: opacity .2s linear
	opacity: 1
	+r(790)
		bottom: auto
		top: 0
		position: fixed
	+r(790)
		height: 50px
		overflow: visible
	.is-hidemenu &
		opacity: 0
		+r(1040)
			opacity: 1
	&.is-header
		top: 0
		position: fixed
		bottom: auto
		.is-hidemenu &
			opacity: 1 !important
		.header__down,.player
			top: -75px
		.header__info
			top: 29px
		.header__fb
			top: 19px
		.header__lang
			top: 30px
	&__lang
		position: absolute
		text-align: right
		top: 30px + 75px
		right: 194px
		transition: all .2s linear
		+r(1040)
			right: 30px
		+r(790)
			display: none
		a
			text-decoration: none
			color: #888888
			font-size: 12px
			margin-left: 20px
			text-transform: uppercase
			&:hover,&.is-active
				color: #fff
	&__fb
		position: absolute
		top: 19px + 75px
		right: 96px
		display: inline-block
		text-decoration: none
		+s(fb)
		transition: top .2s linear
		+r(1040)
			display: none
		&:visited
			+s(fb)
		&:hover
			+s(fb_h)
	&__down
		position: absolute
		right: 0
		top: 0
		text-align: center
		width: 270px
		height: 75px
		cursor: pointer
		background: #ffffff
		line-height: 75px
		font-size: 11px
		letter-spacing: 2px
		color: #050505
		text-transform: uppercase
		transition: all .2s linear
		+r(1040)
			display: none
		&:hover
			color: #fff
			background: #151515
			i
				+sp(arrowdown_h)
		i
			+s(arrowdown)
			display: inline-block
			position: relative
			top: 20px
			margin-left: 10px
	&__info
		position: absolute
		left: 50%
		top: 29px + 75px
		text-align: center
		width: 500px
		margin-left: -250px
		font-size: 12px
		color: #555555
		transition: all .2s linear
		+r(1040)
			right: 100px
			left: auto
			margin-left: 0
		+r(790)
			display: none
		b
			margin: 0 20px
			font-weight: normal
		span
			text-transform: uppercase
		span,a
			text-decoration: none
			color: #fff
			letter-spacing: 2px
		a
			font-size: 13px
	&__logo
		position: absolute
		top: 17px
		+s(logo)
		left: 95px
		+r(1040)
			left: 15px
		+r(790)
			transform: scale(.6)
			transform-origin: 0 0
			top: 12px
			box-sizing: content-box
			padding-bottom: 4px
	&__burger
		display: none
		+r(790)
			display: block
			position: absolute
			right: 15px
			top: 14px
			color: #fff
			i
				font-size: 18px
	&__moblang
		display: none
		ul
			display: none
		&active
			height: 50px
			line-height: 50px
			text-align: left
			padding-left: 15px
			i
				+s(arr)
				display: inline-block
				margin-left: 5px
				position: absolute
				right: 8px
				top: 50%
				margin-top: -5px
		&.is-active
			.header__moblangactive
				background-color: rgba(#000,.9)
				i
					transform: rotate(180deg)
			ul
				display: block
				position: absolute
				left: 0
				top: 50px
				right: 0
				font-size: 12px
				li
					height: 50px
					line-height: 50px
					background: rgba(#000,.9)
					a
						display: block
						height: 50px
						line-height: 50px
						padding-left: 15px
						text-align: left
						text-decoration: none
						color: #fff
		+r(790)
			display: block
			position: absolute
			right: 60px
			height: 50px
			width: 60px
			text-align: left

			font-style: 12px
			color: #fff
.mobileover
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#000,.9)
	text-align: center
	z-index: 1000
	&__close
		position: absolute
		right: 15px
		top: 15px
		font-size: 20px
		color: #fff
	&__bottom
		position: absolute
		bottom: 20px
		left: 0
		right: 0
		text-align: center
		font-style: 12px
		color: #888888
	&__logo
		position: absolute
		+s(logo)
		transform: scale(.6)
		transform-origin: 0 0
		top: 12px
		left: 15px
	&__info
		position: absolute
		top: 50%
		margin-top: -70px
		text-align: center
		left: 0
		right: 0
		color: #fff
		font-size: 20px
		b
			display: none
		span,a
			display: block
			text-decoration: none
			color: #fff
			margin-bottom: 10px
	&__fb
		+s(fb)
		display: inline-block !important
		&:hover
			+sp(fb_h)
	&__copy
		margin-bottom: 10px
	&__dev

		a
			+s(creativin)
			display: inline-block
			+hide-text
			vertical-align: middle
			margin-left: 10px
			position: relative
			top: -2px
