<!-- begin booklist  -->
<div class="booklist" id="201607">
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">01</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">02</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">03</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">04</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">01</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">02</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">03</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book is-booked">
		<div class="book__num">04</div>
		<div class="book__text">Blažek</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book is-pre">
		<div class="book__num">01</div>
		<div class="book__text">Rezervace</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">02</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">03</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
	<!-- begin book  -->
	<div class="book">
		<div class="book__num">04</div>
		<div class="book__text">VOLNÉ (10 s)</div>
	</div>
	<!-- end book -->
</div>
<!-- end booklist -->