<!-- begin gallery  -->
<div class="gallery">
	<!-- begin events  -->
	<div class="events">
		<h2>VÝMĚNA SPOTŮ</h2>
		<p>Nejbližší výměna bude provedena dne:</p>
		<ul>
			<li><strong>31.12.2015 ve 22:00</strong></li>
			<li>15.1.2016 ve 22:00</li>
			<li>31.1.2016 ve 22:00</li>
			<li>15.2.2016 ve 22:00</li>
		</ul>
		<ul>
			<li>29.2.2016 ve 22:00</li>
			<li>15.3.2016 ve 22:00</li>
			<li>31.3.2016 ve 22:00</li>
			<li>15.4.2016 ve 22:00</li>
		</ul>
		<div class="events__more">
			<a href="#">Více<i></i></a>
		</div>
	</div>
	<!-- end events -->
	<div class="gallery__pics">
		<div class="gallery__next"></div>
		<div class="gallery__prev"></div>
		<div class="gallery__slides js-gallery">
			<div class="gallery__slide" style="background-image: url(img/photo/DSC_2066a.jpg)">
				<a href="img/photo/DSC_2066a.jpg"></a>
			</div>
			<div class="gallery__slide" style="background-image: url(img/photo/DSC_2104a.jpg)">
				<a href="img/photo/DSC_2104a.jpg"></a>
			</div>
			<div class="gallery__slide" style="background-image: url(img/photo/DSC_2155a.jpg)">
				<a href="img/photo/DSC_2155a.jpg"></a>
			</div>
		</div>
	</div>
</div>
<!-- end gallery -->