<!-- begin header  -->
<div class="header">
	<div class="header__logo">
		
	</div>
	<div class="player">
		<div class="player__prev"></div>
		<div class="player__play js-play"></div>
		<div class="player__next"></div>
	</div>
	<div class="header__info">
		<span>+420 221 015 047</span><b>|</b><a href="mailto:debenhams@mestrahouse.cz">debenhams@mestrahouse.cz</a>
	</div>
	<div class="header__lang">
		<a href="#" class="is-active">CZ</a>   <a href="#">En</a>   <a href="#">Ru</a>
	</div>
	<a class="header__fb" href='#'></a>
	<div class="header__down">
		přeskočit videa <i></i>
	</div>
</div>
<!-- end header -->