<!-- begin logos  -->
<div class="logos">
	<h2>Pomáháme</h2>
	<a href="http://www.dobryandel.cz"><img src="img/logo/0.png" alt=""></a>
	<h3>SPOLUPRACUJEME</h3>
	<ul>
		<li><a href="http://www.debenhams.cz"><img src="img/logo/1.png" alt=""></a></li>
		<li><a href="http://www.douglas.cz"><img src="img/logo/2.png" alt=""></a></li>
		<li><a href="http://www.grandoptical.cz"><img src="img/logo/3.png" alt=""></a></li>
		<li><a href="http://www.blazek.cz"><img src="img/logo/4.png" alt=""></a></li>
		<li><a href="http://www.ceskapojistovna.cz/?utm_source=mestra_house&utm_medium=banner&utm_term=logo"><img src="img/logo/5.png" alt=""></a></li>
		<li><a href="http://shop.paul-cz.com/"><img src="img/logo/6.png" alt=""></a></li>
		<li><a href="http://www.upc.cz"><img src="img/logo/7.png" alt=""></a></li>
		<li><a href="http://www.smvvpraha.cz"><img src="img/logo/8.png" alt=""></a></li>
		<li><a href="http://www.vsmvv.cz"><img src="img/logo/9.png" alt=""></a></li>
		<li><a href="http://www.divadlopalace.cz/"><img src="img/logo/10.png" alt=""></a></li>
		<li><a href="http://www.bohemiacrystalglass.eu/"><img src="img/logo/11.png" alt=""></a></li>
		<li><a href="www.volcanocomplex.cz"><img src="img/logo/12.png" alt=""></a></li>
	<!-- 	<li><a href="http://13"><img src="img/logo/13.png" alt=""></a></li>
		<li><a href="http://14"><img src="img/logo/14.png" alt=""></a></li>
		<li><a href="http://15"><img src="img/logo/15.png" alt=""></a></li>
		<li><a href="http://16"><img src="img/logo/16.png" alt=""></a></li>
		<li><a href="http://17"><img src="img/logo/17.png" alt=""></a></li> -->
		<li><a href="http://www.debenhams.cz"><img src="img/logo/18.png" alt=""></a></li>
		<li><a href="http://www.debenhams.cz"><img src="img/logo/19.png" alt=""></a></li>
		<li><a href="http://www.debenhams.cz"><img src="img/logo/20.png" alt=""></a></li>
		<li><a href="http://www.debenhams.cz"><img src="img/logo/21.png" alt=""></a></li>
		<li><a href="http://www.debenhams.cz"><img src="img/logo/22.png" alt=""></a></li>
		<li><a href="http://www.debenhams.cz"><img src="img/logo/23.png" alt=""></a></li>
		<li><a href="http://www.debenhams.cz"><img src="img/logo/24.png" alt=""></a></li>
		<li><a href="http://www.debenhams.cz"><img src="img/logo/25.png" alt=""></a></li>
	</ul>
</div>
<!-- end logos -->