<!-- begin pages  -->
<div class="pages">
	<div class="pages__nav">
		<div class="page page_1">
			<i></i>
			<div class="page__title">LED Panel</div>
		</div>
		<div class="page page_2">
			<i></i>
			<div class="page__title">Smyčka</div>
		</div>
		<div class="page page_3">
			<i></i>
			<div class="page__title">AKCE</div>
		</div>
		<div class="page page_4">
			<i></i>
			<div class="page__title">Lidé</div>
		</div>
		<div class="page page_5">
			<i></i>
			<div class="page__title">CENÍK</div>
		</div>
		<div class="page page_6">
			<i></i>
			<div class="page__title">REZERVACE </div>
		</div>
		<div class="page page_7">
			<i></i>
			<div class="page__title"> Ochrana segmentu</div>
		</div>
		<div class="page page_8">
			<i></i>
			<div class="page__title">Kontakty</div>
		</div>
	</div>
</div>
<!-- end pages -->